<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:attr="__${pageLayout.printHtmlAttributes('html')}__" lang="en">
<!--begin::Head-->

<head>
    <title>Metronic - the world's #1 selling Bootstrap Admin Theme Ecosystem for HTML, Vue, React, Angular & Laravel by Keenthemes</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />

    <link rel="shortcut icon" th:href="@{${@ktThemeUtils.getFavicon()}}" />

    <!--begin::Fonts-->
    <link th:each="font: ${@ktThemeUtils.getFonts()}" rel="stylesheet" th:href="@{${font}}" />
    <!--end::Fonts-->

    <!--begin::Vendor Stylesheets(optional)-->
    <link th:each="file: ${pageLayout.getVendorCssList()}" rel="stylesheet" type="text/css" th:href="@{${file}}" />
    <!--end::Vendor Stylesheets-->

    <!--begin::Global Stylesheets(mandatory)-->
    <link th:each="file: ${pageLayout.getGlobalAssets('css')}" rel="stylesheet" type="text/css" th:href="@{${file}}" />
    <!--end::Global Stylesheets-->

    <!--begin::Custom Stylesheets(optional)-->
    <link th:each="file: ${pageLayout.getCssFiles()}" rel="stylesheet" type="text/css" th:href="@{${@ktThemeUtils.getAssetPath(file)}}" />
    <!--end::Custom Stylesheets-->
</head>
<!--end::Head-->

<body th:attr="__${pageLayout.printHtmlAttributes('body')}__" th:class="${pageLayout.printHtmlClasses('body')}">
    <th:block th:replace="~{partials/theme-mode/_init.html}"></th:block>

    <th:block layout:fragment="body"></th:block>

    <th:block layout:fragment="offcanvas"></th:block>

    <!--begin::Global Javascript(mandatory)-->
    <script th:each="file: ${pageLayout.getGlobalAssets('js')}" th:src="${file}"></script>
    <!--end::Global Javascript-->

    <!--begin::Vendors Javascript(optional)-->
    <script th:each="file: ${pageLayout.getVendorJsList()}" th:src="${file}"></script>
    <!--end::Vendors Javascript-->

    <!--begin::Custom Javascript(optional)-->
    <script th:each="file: ${pageLayout.getJavascriptFiles()}" th:src="${@ktThemeUtils.getAssetPath(file)}"></script>
    <!--end::Custom Javascript-->
</body>
</html>
